@using MVCAppDemo.Models
<table class="table table-bordered">
    <tr>
        <th>Crew ID</th>
        <th>Crew Name</th>
        <th>Crew Designation</th>
    </tr>

@foreach (var item in ViewBag.cd)
{
    <tr>
        <td>@item.crewID</td>
        <td>@item.crewName</td>
        <td>@item.crewDesg</td>
    </tr>
}

    </table>
